<!--WINS-->
<div id="wins">
  <div class="container centered ptb">
    <h1>WINS</h1>
  </div>
</div>

<!--WIN ONE-->
<div id="win-1">
  <div class="container">
    <div class="row ptb centered">
      <h2>Win One</h2>
      <h1>Effective Team Member</h1>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-8 ptb" id="dark-grey-background">
      <h2>QUOTE</h2>
    </div>
    <div class="col-md-4">
      <%= image_tag("laceys-note.png", :class => "img-responsive", loop: true) %>
    </div>
  </div>
  <div class="row">
    <%= image_tag("local-testing.gif", :class => "img-responsive") %>
    <p class="centered">Presenting our local testing setup to the clients.</p>
  </div>
</div>

<!--WIN TWO-->
<div id="win-2">
  <div class="container">
    <div class="row ptb centered">
      <h2>Win Two</h2>
      <h1>Active Member of TW ATL</h1>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4 ptb" id="dark-grey-background">
      <h2>AC Open House</h2>
    </div>
    <div class="col-md-4 ptb">
      Home Office Day
    </div>
    <div class="col-md-4 ptb">
      WIT Connect
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 ptb">
      <%= image_tag("HOD-email.png", :class => "img-responsive") %>
    </div>
    <div class="col-md-6 ptb">
      <%= image_tag("WEI-email.png", :class => "img-responsive") %>
    </div>
  </div>
  <div class="row">
    <p class="centered">Words from Derek.</p>
  </div>
</div>

<!--WIN THREE-->
<div id="win-3">
  <div class="container">
    <div class="row ptb centered">
      <h2>Win Three</h2>
      <h1><i>Invested</i> member of the community</h1>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4 ptb" id="dark-grey-background">
      <h2>four presentations</h2>
    </div>
    <div class="col-md-4 ptb">
      SEVEN CONFERENCES TOTAL
    </div>
    <div class="col-md-4 ptb">
      <h2>two recruiting</h2>
    </div>
  </div>

  <div class="row">
    <h2 class="centered mb">#ConferenceSwag</h2>
    <hr>
    <div class="row">
      <div class="col-md-6 pb">
        <%= image_tag("ac-con.png", :class => "img-responsive") %>
      </div>
      <div class="col-md-6 pb">
        <%= image_tag("nsbe.png", :class => "img-responsive") %>
      </div>
      <div class="col-md-6 pb">
        <%= image_tag("WiC.png", :class => "img-responsive") %>
      </div>
      <div class="col-md-6 pb">
        <%= image_tag("upward-bound.png", :class => "img-responsive") %>
      </div>
    </div>
  </div>

  <div class="row">
    <%= image_tag("jttw.png", :class => "img-responsive") %>
  </div>
  <div class="row centered">
    <div class="col-md-6 ptb" id="cyd-tone-background">
      <a href="http://www.iamtonecyd.com"><h2>i am cyd tone</h2></a>
    </div>
    <div class="col-md-6 ptb" id="cw-background">
      <a href="http://www.caribbeanworld360.com"><h2>caribbean world</h2></a>
    </div>
  </div>
  <div class="row centered">
    <div class="col-sm-3 ptb">
      <h2>#TMSG</h2>
    </div>
    <div class="col-sm-3 ptb">
      <h2>GREEKLIFE app</h2>
    </div>
    <div class="col-sm-3 ptb">
      <h2>#QueenMe</h2>
    </div>
    <div class="col-sm-3 ptb">
      <h2>ThatGalRei</h2>
    </div>
  </div>
</div>
