<!--WINS-->
<div id="wins">
  <div class="row">
    <div class="centered ptb">
      <h1>WINS</h1>
    </div>
  </div>
</div>

<!--WIN ONE-->
<div id="win-1">
  <div class="row ptb centered">
    <h2>Win One</h2>
    <h1>Effective Team Member</h1>
  </div>
</div>
<div class="row ptb" id="chocolate-background">
  <blockquote class="centered">
    <p class="white-text quote-text">"It has been an absolute pleasure working with you...I would have never thought
      that this was
      your first assignment. You carried yourself very well. I have thought to myself several times while
      observing you that one day you will be the CEO of some company. You’re very eager to learn and
      assist when needed."</p>
    <footer class="white-text quote-footer">Laurie Beaumont, <cite title="Source Title">Manheim Scrum Master</cite>
    </footer>
  </blockquote>
</div>
</div>
<div class="row">
  <%= image_tag("local-testing.gif", :class => "img-responsive gif") %>
</div>


<!--WIN TWO-->
<div id="win-2">
  <div class="container">
    <div class="row ptb centered">
      <h2>Win Two</h2>
      <h1>Active Member of TW ATL</h1>
    </div>
  </div>
</div>
<div class="row block-text">
  <div class="col-md-4 ptb" id="indigo-background">
    <h2>AC Open House</h2>
  </div>
  <div class="col-md-4 ptb" id="magenta-background">
    <h2>Home Office Day</h2>
  </div>
  <div class="col-md-4 ptb" id="pink-background">
    <h2>WIT Connect</h2>
  </div>
</div>
<div class="container">
  <div class="row">
    <h2 class="centered pt">Praises from Derek!</h2>
    <div class="col-md-6 ptb">
      <%= image_tag("HOD-email.png", :class => "img-responsive") %>
      <blockquote>
        <p>"Thanks Joye for putting together a truly memorable HOD agenda...Really great energy"</p>
      </blockquote>
    </div>
    <div class="col-md-6 ptb">
      <%= image_tag("WEI-email.png", :class => "img-responsive") %>
      <blockquote>
        <p>"I want to introduce you to one of our strongest young consultants, Joye Nettles."</p>
      </blockquote>
    </div>
  </div>
</div>

<!--WIN THREE-->
<div id="win-3">
  <div class="container">
    <div class="row ptb centered">
      <h2>Win Three</h2>
      <h1><i>Invested</i> member of the community</h1>
    </div>
  </div>
</div>
<div class="container">
  <h2 class="centered ptb">#ConferenceLife</h2>
  <div class="row">
    <div class="col-xs-6 col-sm-3 pb">
      <%= image_tag("ac-con.png", :class => "img-responsive conference-pic") %>
    </div>
    <div class="col-xs-6 col-sm-3 pb">
      <%= image_tag("upward-bound.png", :class => "img-responsive conference-pic") %>
    </div>
    <div class="col-xs-6 col-sm-3 pb">
      <%= image_tag("nsbe.png", :class => "img-responsive conference-pic") %>
    </div>
    <div class="col-xs-6 col-sm-3 pb">
      <%= image_tag("WiC.png", :class => "img-responsive conference-pic") %>
    </div>
  </div>
  </div>
  <div class="row block-text">
    <div class="col-md-4 ptb" id="dark-grey-background">
      <h2>four presentations</h2>
    </div>
    <div class="col-md-4 ptb" id="cornflower-blue-background">
      <h2 class="total-conference-text">SEVEN CONFERENCES TOTAL</h2>
    </div>
    <div class="col-md-4 ptb" id="dark-grey-background">
      <h2>two recruiting</h2>
    </div>
  </div>
  <div class="container pb">
    <div class="row centered">
      <h3>10th Annual Computer Science Symposium</h3>
      <h4>College of Charleston, Charleston, SC</h4>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/yZCLkiZpYXc" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>


  <div class="row">
    <h2 class="centered mb">#JTTW</h2>
    <hr>
    <%= image_tag("jttw.png", :class => "img-responsive") %>
  </div>
  <div class="row centered">
    <div class="col-md-6 ptb" id="cyd-tone-background">
      <a href="http://www.iamtonecyd.com"><h2>i am cyd tone</h2></a>
    </div>
    <div class="col-md-6 ptb" id="cw-background">
      <a href="http://www.caribbeanworld360.com"><h2>caribbean world</h2></a>
    </div>
  </div>
  <div class="row centered">
    <div class="col-sm-3 ptb">
      <h2>#TMSG</h2>
    </div>
    <div class="col-sm-3 ptb">
      <h2>GREEKLIFE app</h2>
    </div>
    <div class="col-sm-3 ptb">
      <h2>#AllHailTheQueen</h2>
    </div>
    <div class="col-sm-3 ptb">
      <h2>ThatGalRei</h2>
    </div>
  </div>
</div>
