<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation" xmlns="http://www.w3.org/1999/html">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-main-collapse">
        <i class="fa fa-bars white-text"></i>
      </button>
      <%= link_to "JOYE'S 12 MONTH REVIEW", root_path, :class => 'navbar-brand smoothScroll' %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-main-collapse">
      <ul class="nav navbar-nav navbar-right centered">
        <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
        <li class="hidden">
          <a href="#page-top"></a>
        </li>
        <li>
          <%= link_to 'Wins', twelve_path(:anchor => 'wins'), :class => 'smoothScroll' %>
        </li>
        <li>
          <%= link_to 'Challenges', twelve_path(:anchor => 'challenges'), :class => 'smoothScroll' %>
        </li>
        <li>
          <%= link_to 'Growth', twelve_path(:anchor => 'growth'), :class => 'smoothScroll' %>
        </li>
        <li>
          <%= link_to 'Stacey', twelve_path(:anchor => 'stacey'), :class => 'smoothScroll' %>
        </li>
        <li>
          <%= link_to 'Feedback', twelve_path(:anchor => 'feedback'), :class => 'smoothScroll' %>
        </li>
        <li>
          <%= link_to 'Self-Assessment', twelve_path(:anchor => 'self-assessment'), :class => 'smoothScroll' %>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>