<!--WINS-->
<div id="wins">
  <div class="row">
    <div class="centered ptb">
      <h1>WINS</h1>
    </div>
  </div>
</div>

<!--WIN ONE-->
<div id="win-1">
  <div class="row ptb centered">
    <h2>Win One</h2>
    <h1>Effective Team Member</h1>
  </div>
</div>
<div class="row ptb" id="chocolate-background">
  <blockquote class="centered">
    <p class="white-text quote-text">"It has been an absolute pleasure working with you...I would have never thought
      that this was
      your first assignment. You carried yourself very well. I have thought to myself several times while
      observing you that one day you will be the CEO of some company. You’re very eager to learn and
      assist when needed."</p>
    <footer class="white-text quote-footer"><cite title="Source Title">Client Scrum Master</cite>
    </footer>
  </blockquote>
</div>
</div>
<div class="row">
  <%= image_tag("local-testing.gif", :class => "img-responsive gif") %>
</div>
<div class="row ptb" id="red-background">
  <blockquote class="centered">
    <p class="white-text quote-text">"While the rest of us were trying to make our clients better coders, you were also trying to make them better people."</p>
    <footer class="white-text quote-footer"><cite title="Source Title">Senior ThoughtWorks Developer</cite>
    </footer>
  </blockquote>
</div>

<!--WIN TWO-->
<div id="win-2">
  <div class="container">
    <div class="row ptb centered">
      <h2>Win Two</h2>
      <h1>Active Member of the Technical Community</h1>
    </div>
  </div>
</div>
<div class="row block-text">
  <div class="col-sm-4 ptb" id="indigo-background">
    <h2>AC Open House</h2>
  </div>
  <div class="col-sm-4 ptb" id="magenta-background">
    <h2>Home Office Day</h2>
  </div>
  <div class="col-sm-4 ptb" id="pink-background">
    <h2>WIT Connect</h2>
  </div>
</div>

  <h2 class="centered ptb">#ConferenceLife</h2>
  <div class="row plr">
    <div class="col-xs-6 col-sm-3 pb">
      <%= image_tag("ac-con.png", :class => "img-responsive") %>
    </div>
    <div class="col-xs-6 col-sm-3 pb">
      <%= image_tag("upward-bound.png", :class => "img-responsive") %>
    </div>
    <div class="col-xs-6 col-sm-3 pb">
      <%= image_tag("nsbe.png", :class => "img-responsive") %>
    </div>
    <div class="col-xs-6 col-sm-3 pb">
      <%= image_tag("WiC.png", :class => "img-responsive") %>
    </div>
  </div>
  <div class="row block-text">
    <div class="col-md-4 ptb" id="dark-grey-background">
      <h2>four presentations</h2>
    </div>
    <div class="col-md-4 ptb" id="cornflower-blue-background">
      <h2 class="total-conference-text">SEVEN CONFERENCES TOTAL</h2>
    </div>
    <div class="col-md-4 ptb" id="dark-grey-background">
      <h2>two recruiting</h2>
    </div>
  </div>
  <div class="container ptb">
    <div class="row centered">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/yZCLkiZpYXc" frameborder="0" allowfullscreen></iframe>
      </div>
      <h3>Footage from the 10th Annual Computer Science Symposium at the College of Charleston.</h3>
    </div>
  </div>

<div class="container pb">
  <div class="row centered">
    <%= image_tag("yf.png", :class => "img-responsive center-image jttw-image") %>
    <h3>Honored to be selected as part of TheRoot.com's Class of 2016 Young Futurists.</h3>
  </div>
</div>

<!--WIN THREE-->
<div id="win-3">
  <div class="container">
    <div class="row ptb centered">
      <h2>Win Three</h2>
      <h1>increased confidence</h1>
    </div>
  </div>
</div>

<div class="row">
  <h2 class="centered mb">#JTTW</h2>
  <a href="http://www.joyetotheworld.com" target="_blank">
    <%= image_tag("jttw.png", :class => "img-responsive center-image jttw-image pb") %>
  </a>
</div>

<div class="container pb">
<div class="row centered">
  <h3>Some of the individuals I have been working with over the last two months.</h3>
  <h4>(Check out our progress by clicking below)</h4>
  <a href="http://www.iamtonecyd.com" target="_blank">
    <div class="col-sm-6 ptb" id="cyd-tone-background">
      <h2>i am cyd tone</h2>
    </div>
  </a>
  <a href="http://www.caribbeanworld360.com" target="_blank">
    <div class="col-sm-6 ptb" id="cw-background">
      <h2>caribbean world</h2>
    </div>
  </a>
</div>
</div>

