<%= render 'partials/navbar' %>

<%= render 'partials/header' %>

<%= render 'partials/agenda' %>

<%= render 'partials/timeline' %>

<%= render 'partials/wins' %>

<%= render 'partials/challenges' %>

<%= render 'partials/growth' %>

<%= render 'partials/stacey' %>

<%= render 'partials/feedback' %>

<%= render 'partials/selfassessment' %>


<div id="sep">
  <div class="container">
    <div class="row centered">
      <div class="col-md-8 col-md-offset-2">
        <h3 class="mt">That's all folks!</h3>
        <h1>Thank You!</h1>
        <span class="mt"><a href="mailto:jnettles@thoughtworks.com" target="_blank">jnettles@thoughtworks.com</a></span>
      </div>
    </div><!--/row-->
  </div><!--/container-->
</div><!--/.sep-->


<div id="f">
  <div class="container">
    <div class="row centered">
      <div class="col-md-8 col-md-offset-2">
        <a href="#"><i class="ion-social-twitter"></i></a>
        <a href="#"><i class="ion-social-dribbble"></i></a>
        <a href="#"><i class="ion-social-instagram"></i></a>
        <a href="#"><i class="ion-social-facebook"></i></a>
      </div><!--/col-md-8-->
    </div>
  </div><!--/container-->
</div><!--/.F-->

