<%= render 'partials/navbar' %>

<%= render 'partials/header' %>

<%= render 'partials/agenda' %>

<%= render 'partials/timeline' %>

<%= render 'partials/wins' %>

<%= render 'partials/challenges' %>

<%= render 'partials/growth' %>

<%= render 'partials/stacey' %>

<%= render 'partials/feedback' %>

<div id="self-assessment">
  <div class="container ptb centered">
    <div class="row">
      <h2 class="centered">Self-Assessment</h2>
      <div class="col-md-8 col-md-offset-2 left-aligned">
      <dl>
        <dt>New level technically.</dt>
        <dd>ihidd</dd>
      </dl>
      <dl>
        <dt>Returning the investment to TW.</dt>
        <dd>ihidd</dd>
      </dl>
      <dl>
        <dt>Balance between spreading influence and developing my skills.</dt>
        <dd>ihidd</dd>
      </dl>

      </div><!--/col-md-8-->
    </div><!--/row-->
  </div><!--/.container-->
</div>


<div id="f">
  <div class="container">
    <div class="row centered">
      <div class="col-md-8 col-md-offset-2">
        <a href="#"><i class="ion-social-twitter"></i></a>
        <a href="#"><i class="ion-social-dribbble"></i></a>
        <a href="#"><i class="ion-social-instagram"></i></a>
        <a href="#"><i class="ion-social-facebook"></i></a>
      </div><!--/col-md-8-->
    </div>
  </div><!--/container-->
</div><!--/.F-->

