<div id="self-assessment">
  <div class="container ptb centered">
      <h1>Self-Assessment</h1>

  </div><!--/row-->


  </div>

  <div class="row">
    <div class="container centered">
      <h2 class="left-aligned mtb">GOALS RECAP</h2>
      <table class="table">
        <thead>
        <tr>
          <th>Pillar</th>
          <th>Goal</th>
          <th>Status</th>
        </tr>
        </thead>
        <tbody class="left-aligned">
        <tr>
          <th scope="row">1</th>
          <td>Volunteer & Participate in at least 3 TW ATL Events</td>
          <td>Open House, WIT Forum, IDG Hackathon</td>
        </tr>
        <tr class="colored-row">
          <th scope="row">1</th>
          <td>Refer Two Quality Candidates</td>
          <td>Two ACs and a Tech Lead!</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Lunch & Learn and Blogpost</td>
          <td>L&L scheduled for the 13th!</td>
        </tr>
        <tr class="colored-row">
          <th scope="row">2</th>
          <td>Attend Two Continuous Learning Sessions</td>
          <td>Attended one session (Design Patterns).</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Build 2 websites for budding entrepreneurs</td>
          <td><%= link_to 'Do Work Media', 'http://www.doworkmedia.com', :target => :blank%> and <%= link_to 'DJ SCrib', 'http://www.SCribthedj.com', :target => :blank%></td>
        </tr>
        <tr class="colored-row">
          <th scope="row">3</th>
          <td>Present 2 talks at conferences.</td>
          <td>Gave 4 presentations!</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>


<div class="container ptb">
    <h2>NEXT UP</h2>
  <div class="row centered">
    <div class="col-sm-4">
      <%= image_tag('pillar-one.png', :class => 'img-responsive') %>
      <p>To help ThoughtWorks, I will actively recruit for potential ACs, tech leads, and devops specialists.</p>
      <p>To help build the AC program, I will begin training to be an AC coach.</p>
    </div>
    <div class="col-sm-4">
      <%= image_tag('pillar-two.png', :class => 'img-responsive') %>
      <p>In order to become a stronger, specialized developer, I will work on building depth of knowledge in at least two technical areas related to my current project.</p>
      <p>In order to build my credibility, I will host a lunch and learn and publish at least two technical blogs. </p>
    </div>
    <div class="col-sm-4">
      <%= image_tag('pillar-three.png', :class => 'img-responsive') %>
      <p>In order to share my passion for technology (and hopefully spark this in others), I will speak in three events over the next six months.</p>
      <p>To improve as the P3 Coordinator for TW Atlanta, I will attempt to make at least 50% of the P3 calls and organize a TW ATL P3 initiative.</p>
    </div>
  </div>
</div><!--/row-->
</div><!--/.container-->
</div>